<div class="centered">
<form method="GET" action="/">
  <label for="semester">Semester: </label>
  <select id="semester" name="semester">
    <option value="All">All</option>
    <option value="Fall">Fall</option>
    <option value="Spring">Spring</option>
  </select>
  Year: <input type="number" name="year"></br>
  Professor: <input type="text" name="professor"></br>
	<input type="submit">
</form>
</div>


<div>
  <table>
  <tr>
    <th> Course Number </th>
    <th> Course Name </th>
    <th> Semester </th>
    <th> Year </th>
    <th> Professor </th>
    <th> Review </th>
  </tr>
  {{#each reviews}}
  <tr>
    <td>{{this.courseNumber}}</td>
    <td>{{this.courseName}}</td>
    <td>{{this.semester}}</td>
    <td>{{this.year}}</td>
    <td>{{this.professor}}</td>
    <td>{{this.review}}</td>
  </tr>
  {{/each}}
</table>
</div>
{{error}}
